.App {
    padding: 2%;
    font-family: Lato;
}
.test {
    background-color: blue;
    height: 50px;
    display: block;
}
/*------------ Request Dashboard -------------------*/
.mentorNav li{
    display:inline-block;
    width:50%;
    color:black !important;
}
.mentorNav a {
    color:black;
    text-decoration:none;
}

.pagination-bottom {
    display: none;
}

.number{
    background-color:pink;
}
.DashboardIcons {
    width:100%;
    display:flex;
    justify-content:space-between;
}
.icon1, .icon2{
    background-color:black;
    width:50px;
    height:50px;
    display:inline-block;
}
.RequestTitle h3 {
    display: inline-block;
    justify-content:space-around;   
}
/*------------ Table --------------*/


/*------------------MyTickets---------*/
.nothingYet {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 60%;
}


/*==========REQUEST DASHBOARD TABLE=========*/
.table {
    position: relative;
    width: 100%;
    height: 100%;
}
/*Request header*/
.table .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 30px;
    width: 100%;
    /*border-bottom: 1px solid #d3d3d3;*/
}
    
.table .header .shadow {
    position: absolute;
    top: 31px;
}

.table .header .hcol {
    display: flex;
    /*background-color: #e5e8eb;*/
    border-color: #DFDFDF;
    justify-content: space-between;
    padding: 0 7px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    color: #1F384D;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
    width: 100%;
}

.table.header.fixed {
    background: #e5e8eb;
    z-index: 99;
    position: fixed;
    top: 0px;
}
.table .header .fixed .shadow {
    height: 3px;
    width: 100%;
    /*background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x;*/
}

.table ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    /*position: absolute;*/
    width: 100%;
    
}
.table ul li {
    background-color: #e5e8eb;
    border-radius:2%;
    width: 100%;
    min-height: 83px;
    margin-top:10px;
    /*border-bottom: 1px solid #DFDFDF;*/
}

/*Non-collapsible section of table*/
.table ul li .heading {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: 83px;
    cursor: pointer;
    transition: background 0.5s;
}
.table ul li .heading .col {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    height: 83px;
    /*border-right: 1px solid #DFDFDF;*/
}

/*Collapsible section*/
.extraInfo{
    width:100%;
}
.extraDetails {
    padding: 0 10px;
    width: 100%;
}
.extraInfo li {
    display: inline;
    justify-content:space-around;
    margin:0 10px;
}
.table ul li .content {
    width: 97%;
    top:10px;
    position:relative;
    height: 0px;
    /*background-color:red;*/
    opacity: 0;
    transition: height 1s;
}

.table ul li.open .heading {
    /*background: #4d98bc;
    color: #ffffff;*/
}

.table ul li.open .content {
    height: 300px;
    opacity: 1;
    position:relative;
}


/*=====claim form in request dashboard=======*/
.claimForm input {
    width:97%;
    background:#ffffff;
    border:none;
    height:25px;
}

.claimForm label {
    font-family:Lato;
    font-style:normal;
    font-weight:normal;
    font-size:15px;
    color:#000000;
    height:18px;
    line-height:23px;
    left:27px;
}

.claimForm button {
    width: 162px;
    height: 52px;
    margin-left: 176px;
    margin-top: 20px;
    border: none;
    border-radius: 205px;
    background-color: #C4C4C4;
}
/*----------- MY REQUESTS ------------*/
.claimedRequests button {
    width: 95%;
    height: 52px;
    margin: 10px auto;
    border: none;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: #e5e8eb;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 16px;
    text-align: center;
    border: 1.5px solid rgba(0, 0, 0, 0.2);
    color: #35383F;
}
.claimedRequests .resolveButton {
    background-color: #D1D1D1;
}



/*-------------REQUEST FORM; HACKER --------------*/
.RequestPage {
    padding: 0 2%;
}
.RequestForm input[type=text] {
    border:none;
    padding:3%;
    width:90%;
    margin-top:10px;
    font-style:italic;
    background-color:#e4e4e4;
    border-radius: 0;
    -webkit-appearance: none;
    display:block;
}
.RequestForm .skills input[type=text] {
    width: 97%;
    border: none;
    background:none;
    height: 25px;
}
.reviewButton {
    width: 30%;
    margin:0 4% 5% 0;
    text-align:center;
    height: 40px;
    float:right;
    padding-top:3.5%;
    border: none;
    border-radius:200px;
    background-color: #C4C4C4;
    color:#fff;
    text-transform:uppercase;
    text-decoration:none;
}

/*-------------RequestSummary------------*/
.RequestSummary {
    border:1px solid #e4e4e4;
    padding:3% 5%;
    margin:2%;
}
.RequestSummary hr {
    display:none !important;
}

.RequestSummary li {
    list-style-type:none;
    margin-left:-40px;  
}
.Summary .reviewButton {
    width:45%;
    padding-top:2%;
    display:inline-block;
}
.editBtn {
    background:#fff;
    width:30% !important;
    margin-left:2%;
    padding-top:2% !important;
    color:#e4e4e4;
    border:1px solid #e4e4e4;
    display:inline-block;
    float:left;
}