.App {
    padding:2%;
}
.test {
    background-color: blue;
    height: 50px;
    display: block;
}
/*------------ Request Dashboard -------------------*/
.mentorNav li{
    display:inline-block;
    width:50%;
    color:black !important;
}
.mentorNav a {
    color:black;
    text-decoration:none;
}

.pagination-bottom {
    display: none;
}

.number{
    background-color:pink;
}
.DashboardIcons {
    width:100%;
    display:flex;
    justify-content:space-between;
}
.icon1, .icon2{
    background-color:black;
    width:50px;
    height:50px;
    display:inline-block;
}
.RequestTitle h3 {
    display: inline-block;
    justify-content:space-around;   
}
/*------------ Table --------------*/


/*------------------MyTickets---------*/
.nothingYet {
    text-align: center;
    margin: auto;
    margin-top: 100px;
    width: 60%;
}


/*===================*/

.table {
    position: relative;
    width: 100%;
    height: 100%;
}
.table .header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 30px;
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
}
    
.table .header .shadow {
    position: absolute;
    top: 31px;
}

.table .header .hcol {
    display: flex;
    background-color: #e5e8eb;
    border-color: #DFDFDF;
    justify-content: space-between;
    padding: 0 7px;
    height: 30px;
    align-items: center;
    cursor: pointer;
    color: #1F384D;
    box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.5);
    width: 100%;
}

.table.header.fixed {
    background: #e5e8eb;
    z-index: 99;
    position: fixed;
    top: 0px;
    

}
.table.header.fixed.shadow {
    height: 3px;
    width: 100%;
    background: 0 0 url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAECAYAAABP2FU6AAAAF0lEQVR4AWPUkNeSBhHCjJoK2twgFisAFagCCp3pJlAAAAAASUVORK5CYII=) repeat-x;
}
.table ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    position: absolute;
    /*top: 32px;*/
    width: 100%;
}

.table ul li {
    width: 100%;
    min-height: 83px;
    border-bottom: 1px solid #DFDFDF;
    

}
.table ul li .heading {
    display: flex;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    width: 100%;
    height: 83px;
    cursor: pointer;
    transition: background 0.5s;
}
.table ul li .heading .col {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 10px;
    height: 83px;
    border-right: 1px solid #DFDFDF;
}
.table ul.content{
    top:300px !important;
}

.table ul li .content {
    width: 100%;
    top:300px !important;
    height: 0px;
    opacity: 0;
    transition: height 1s;
}
.table ul li{
    border-bottom:none !important;
}
.table ul li.open .heading {
    background: #4d98bc;
    color: #ffffff;
}
.table ul li.open .heading .col{
    border:none;
}
.table ul li.open .content {
    height: 300px;
    opacity: 1;
}

.table ul li.extraInfo{
    margin-left:30px;
}


