.App {
    padding:10px;
}
.test {
    background-color: blue;
    height: 50px;
    display: block;
}
/*------------ Request Dashboard -------------------*/
.rt-th, .rt-td{
    display:inline-block;
    /*background-color:lightgrey;*/
    width:80% !important;
}
.rt-th {
    background-color:darkgrey;
    width:30px;
}
.RequestTable{
    
}
.pagination-bottom {
    display: none;
}

.number{
    background-color:pink;
}
.DashboardIcons {
    width:100%;
    display:flex;
    justify-content:space-between;
}
.icon1, .icon2{
    background-color:black;
    width:50px;
    height:50px;
    display:inline-block;
}


/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
